$main-color: #313131;
$main-background: #fff;
$inverted-main: #fff;
$gray: #f7f7f7;
$border: #e8e8e8;
$navigation: #4fc928;
$navigation-old: #e62159;
$yellow: #ffce3c;
$yellow-sub: #e8b82a;
$text-sub: #bfbfbf;
$text: #464646;
$success: #4fc928;
$dark-gray: #242424;
$pink: #4fc928;
$pink-sub: #4abc25;
$overlay: rgba(0, 0, 0, 0.47);
$company-bg: #f7f7f7;