$main-color: #313131;
$main-background: #fff;
$inverted-main: #fff;
$gray: #f7f7f7;
$border: #e8e8e8;
$navigation: #e62159;
$yellow: #ffce3c;
$text-sub: #bfbfbf;
$text: #464646;
$success: #4fc928;
$dark-gray: #242424;