    $icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
    // bower:scss
    @import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
    @import "slick-carousel/slick/slick.scss";
    // endbower
    @import "_vars.scss";
    * {
        &:focus {
            outline: none;
        }
    }
    
    body {
        font-family: 'Open Sans', sans-serif;
    }
    
    .table-url {
        max-width: 200px;
        word-break: break-all;
    }
    
    .navigation {
        background: $navigation;
        padding-top: 20px;
        padding-bottom: 15px;
        .logo {
            img {
                height: 50px;
            }
        }
        .sub-nav {
            padding-left: 30px;
            a {
                display: inline-block;
                margin-left: 20px;
                color: $inverted-main;
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                    color: $yellow;
                }
                &:focus {
                    text-decoration: none;
                }
                img {
                    height: 30px;
                    width: auto;
                    display: inline-block;
                    margin-bottom: 5px;
                }
                p {
                    margin: 0;
                    padding: 0;
                    margin-left: 10px;
                    padding-top: 14px;
                    line-height: 1;
                    display: inline-block;
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
        .search-field {
            input {
                width: 100%;
                margin-top: 2px;
                height: 40px;
                border-radius: 20px;
                border: none;
                padding-left: 20px;
                padding-right: 20px;
                &:focus {
                    outline: none;
                }
                &:active {
                    border: none;
                    outline: none;
                }
            }
        }
        .profile {
            a {
                float: right;
            }
        }
    }
    
    .bottom-nav {
        background: $gray;
        padding-top: 5px;
        padding-bottom: 5px;
        .categories {
            padding-top: 8px;
            a {
                float: left;
                font-size: 14px;
                font-weight: bold;
                color: $text-sub;
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                    color: $text;
                }
                &:focus {
                    text-decoration: none;
                }
                p {
                    margin-right: 20px;
                    line-height: 1;
                    margin-bottom: 0;
                }
            }
        }
        .login {
            a {
                display: inline-block;
                margin-left: 20px;
                color: $text-sub;
                text-decoration: none;
                float: right;
                &:hover {
                    text-decoration: none;
                    color: $text;
                }
                &:focus {
                    text-decoration: none;
                }
                img {
                    height: 20px;
                    width: auto;
                    display: inline-block;
                    margin-bottom: 5px;
                }
                p {
                    margin: 0;
                    padding: 0;
                    margin-left: 10px;
                    padding-top: 10px;
                    line-height: 1;
                    display: inline-block;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
        }
    }
    
    .futured {
        padding-top: 30px;
        .swiper-slide {
            width: 300px;
        }
        .wraper-slick-item {
            width: 300px;
        }
        .media-wrap {
            width: 50%;
            display: inline-block;
            float: left;
        }
        .futured-item {
            img {
                display: inline-block;
                border-radius: 6px;
                width: 100%;
            }
            .futured-descr {
                width: 50%;
                float: left;
                display: inline-block;
                padding-left: 10px;
                h3 {
                    margin-top: 0;
                    margin-bottom: 5px;
                    font-size: 16px;
                    font-weight: bold;
                }
                p {
                    margin: 0;
                    color: $text-sub;
                    margin-bottom: 5px;
                    font-size: 12px;
                }
                h4 {
                    margin-top: 0;
                    font-size: 16px;
                    font-weight: bold;
                    color: $success;
                }
            }
        }
    }
    
    .main-page-promos {
        padding-top: 30px;
        padding-bottom: 30px;
        .main-page-promo {
            position: relative;
            img {
                width: 100%;
                height: auto;
                border-radius: 10px;
                filter: brightness(40%);
                &:hover {
                    filter: brightness(100%);
                }
            }
            .promo-descr {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                padding: 100px 30px 30px 30px;
                h1 {
                    vertical-align: middle;
                    color: $inverted-main;
                    margin-bottom: 30px;
                    font-weight: bold;
                    line-height: 1.2;
                    letter-spacing: 1px;
                    font-size: 34px;
                    a {
                        text-decoration: none;
                        padding: 0;
                        margin: 0;
                        background: none;
                        color: $inverted-main;
                    }
                }
                .promo-btn {
                    padding: 10px 25px;
                    background: $yellow;
                    border-radius: 20px;
                    color: $text;
                    font-size: 12px;
                    letter-spacing: 1px;
                    font-weight: bold;
                    text-transform: uppercase;
                    &:hover {
                        background: $yellow-sub;
                        text-decoration: none;
                    }
                    &:focus {
                        text-decoration: none;
                    }
                }
            }
            .offer-price {
                position: absolute;
                top: 20px;
                right: 0px;
                padding: 15px 20px;
                background: $success;
                border-radius: 10px 0px 0px 10px;
                p {
                    padding: 0;
                    margin: 0;
                    line-height: 1;
                    color: $inverted-main;
                    font-weight: bold;
                    font-size: 18px;
                }
            }
        }
    }
    
    .all-offers {
        padding-top: 50px;
        padding-bottom: 30px;
        background: $gray;
        .offer-single-item {
            margin-bottom: 40px;
        }
        .single-offer {
            .offer-img {
                border-radius: 10px;
                width: 100%;
                position: relative;
            }
            .offer-price {
                position: absolute;
                top: 20px;
                right: 15px;
                padding: 15px 20px;
                background: $success;
                border-radius: 10px 0px 0px 10px;
                p {
                    padding: 0;
                    margin: 0;
                    line-height: 1;
                    color: $inverted-main;
                    font-weight: bold;
                    font-size: 18px;
                }
            }
            .offer-top {
                position: absolute;
                top: -15px;
                left: 25px;
                padding: 8px 12px;
                background: $pink;
                border-radius: 10px;
                img {
                    width: 14px;
                }
            }
            .offer-type {
                margin-top: 15px;
                a {
                    text-decoration: none;
                    font-weight: bold;
                    color: $text-sub;
                    margin-right: 15px;
                    &:hover {
                        color: $dark-gray;
                    }
                }
            }
            .offer-descr {
                .offer-title {
                    height: 65px;
                    
                    h4 {
                        height: 40px;
                        font-weight: bold;
                        line-height: 1.2;
                        font-size: 18px;
                        
                    }
                    a {
                        color: $text;
                        text-decoration: none;
                        &:hover {
                            color: $pink;
                            text-decoration: none;
                        }
                    }
                }
                table {
                    width: 100%;
                    .client-name {
                        vertical-align: middle;
                        height: 40px;
                        a {
                            margin: 0;
                            padding: 0;
                            font-weight: bold;
                            color: $text;
                            &:hover {
                                text-decoration: none;
                                color: $pink;
                            }
                        }
                    }
                    .expires {
                        height: 40px;
                        text-align: right;
                        p {
                            padding: 0;
                            margin: 0;
                        }
                    }
                    .likes {
                        vertical-align: middle;
                        img {
                            height: 24px;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                    .about-btn {
                        text-align: right;
                        a {
                            padding: 10px 25px;
                            background: $pink;
                            border-radius: 20px;
                            color: $inverted-main;
                            font-size: 12px;
                            letter-spacing: 1px;
                            font-weight: bold;
                            text-transform: uppercase;
                            &:hover {
                                background: $pink-sub;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .footer {
        background: $dark-gray;
        padding-top: 50px;
        padding-bottom: 20px;
        h3 {
            color: $inverted-main;
            font-size: 16px;
            text-transform: uppercase;
        }
        p {
            color: $inverted-main;
        }
        .footer-about {
            p {
                color: $inverted-main;
            }
        }
        .footer-copyright {
            p {
                text-align: right;
            }
        }
    }
    
    .about {
        padding-top: 50px;
        padding-bottom: 30px;
        .about-offer {
            h3 {
                font-weight: bold;
            }
            img {
                width: 100%;
                border-radius: 10px;
            }
        }
        .company {
            background: $company-bg;
            border-radius: 10px;
            img {
                border-radius: 10px 10px 0px 0px;
            }
            .company-descr {
                padding: 15px 30px;
                h4 {
                    text-align: left;
                    font-weight: bold;
                }
            }
        }
    }
    
    .edit {
        .small-image {
            width: 120px;
        }
    }
    
    .editclient {
        padding-top: 30px;
        padding-bottom: 30px;
        .client-img {
            width: 100%;
            height: auto;
            margin-bottom: 15px;
            border-radius: 10px;
        }
        .expires {
            margin-top: 15px;
        }
        .client-form {
            margin-bottom: 30px;
        }
    }
