<div class="container about">
    <div class="row">
        <div class="col-md-9 about-offer">
            <img class="img-responsive" src="{{offers.offer_url}}">
            <h3>{{offers.title}}</h3>
            <p>{{offers.description}}</p>
            <p>{{clients.description}}</p>
        </div>
        <div class="col-md-3 ">
            <div class="company">
                <img class="img-responsive" src="/images/2.jpg">
                <div class="company-descr">
                    <h4>Провиант</h4>
                    <p>Сеть продуктовых магазинов</p>
                    <h5>www.proviant.ru</h5>
                    <h5>Группа вконтакте</h5>
                    <hr>
                    <p>ул. Парковая, 4</p>
                    <p>Будни: с 7:00 до 22:00<br>Cуббота: с 10:00 до 15:00<br> Воскресенье - выходной</p>
                    <p>8 (82144) 45-5-45</p>
                    <hr>
                    <p>ул. Молодежная, 19</p>
                    <p>Будни: с 7:00 до 22:00<br>Cуббота: с 10:00 до 15:00<br> Воскресенье - выходной</p>
                    <p>8 (82144) 45-5-45</p>
                    <hr>
                    <p>ул. Ленина, 19</p>
                    <p>Будни: с 7:00 до 22:00<br>Cуббота: с 10:00 до 15:00<br> Воскресенье - выходной</p>
                    <p>8 (82144) 45-5-45</p>
                </div>
            </div>
        </div>
    </div>
</div>
