<div class="container admin">
    <div class="row">
        <div class="col-md-6 admin-item">
            <a href="#!/create-offer">
                <div class="admin-item-link">
                    <h1>Создать акцию</h1>
                </div>
            </a>
        </div>
        <div class="col-md-6 admin-item">
            <a href="#!/edit-offers">
                <div class="admin-item-link">
                    <h1>Все акции</h1>
                </div>
            </a>
        </div>
        <div class="col-md-4 admin-item">
            <a href="#!/edit-clients">
                <div class="admin-item-link">
                    <h3>Клиенты</h3>
                </div>
            </a>
        </div>

        <div class="col-md-4 admin-item">
            <a href="#!/categories">
                <div class="admin-item-link">
                    <h3>Категории</h3>
                </div>
            </a>
        </div>

        <div class="col-md-4 admin-item">
            <a href="#!/types">
                <div class="admin-item-link">
                    <h3>Типы акций</h3>
                </div>
            </a>
        </div>

    </div>
</div>
