<div class="container editclient">
      <div class="row">
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li><a href="#!/admin">Админка</a></li>
                <li class="active">Клиенты</li>
            </ol>
        </div>
        <div class="col-md-4">
            <a href="#!/create-client" class="btn btn-primary pull-right">Создать нового клиента</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Картинка</th>
                        <th>Клиент</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="client in clients">
                        <th>
                            <a href="#!/edit-clients/{{client.id}}"><img class="small-image" ng-src="{{client.img}}"></a>
                        </th>
                        <th><a href="#!/edit-clients/{{client.id}}">{{client.client.name}}</a></th>
                        <th>{{client.description}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
