<div class="container edit">
     <div class="row">
        <div class="col-md-8">
            <ol class="breadcrumb">
                <li><a href="#!/admin">Админка</a></li>
                <li class="active">Все акции</li>
            </ol>
        </div>
        <div class="col-md-4">
            <a href="#!/create-offer" class="btn btn-primary pull-right">Создать акцию</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Изображение</th>

                        <th>Клиент</th>

                        <th>Заголовок</th>

                        <th>Истекает</th>
                        <th>Опубликовать</th>
                        <th>Обновить</th>

                    </tr>

                </thead>
                <tbody>
                    <tr ng-repeat="offer in offers">

                        <th>
                            <a href="#!/edit-offer/{{offer.id}}"><img class="small-image" ng-src="{{offer.offer_url}}"></a>
                        </th>
                        <th>
                            <a href="#!/edit-clients/{{offer.client.id}}">{{offer.client.client.name}}</a>
                        </th>

                        <th>
                            <a href="#!/edit-offer/{{offer.id}}">{{offer.title}}</a>
                        </th>
                        <th>
                            <input class="form-control" ng-model="offer.expires" ng-model-options="{ updateOn: 'blur' }" format="DD-MM-YYYY HH:mm:ss" placeholder="{{offer.expires | date: 'dd-MM-yyyy HH:mm:ss' }}" locale='ru' moment-picker="ctrl.input">
                        </th>
                        <th>
                            <input type="checkbox" ng-model="offer.public" value="{{offer.public}}">

                        </th>
                        <th>
                            <button class="btn btn-success" ng-click="UpdateOffers($index)">Обновить</button>
                        </th>
                    </tr>
            </table>
        </div>
    </div>
</div>
