
<div class="container-fluid bottom-nav">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ">
                <div class="categories">
                    <a href="/">
                        <p>Разместить акцию</p>
                    </a>
                    <a href="/">
                        <p>Сотрудничество</p>
                    </a>
                    <a href="/">
                        <p>Блог</p>
                    </a>
                </div>
            </div>
            <div class="col-md-4 login">
                <a href="">
                    <img src="/images/login.svg">
                    <p ng-click="show()">Войти</p>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container futured">
    <div class="row">
        <div class="col-md-12">
            <ks-swiper-container initial-slide="0" loop="false" show-nav-buttons="true" slides-per-view="4" freemode="true" space-between="5" pagination-clickable="false">
                <ks-swiper-slide class="swiper-slide" ng-repeat="n in [42, 42, 43, 43,56,45,44,2] track by $index" >
                    <div class=" wraper-slick-item futured-item">
                        <div class="media-wrap">
                            <img src="/images/5.jpg">
                        </div>
                        <div class="futured-descr">
                            <h3>Молодежная одежда</h3>
                            <p>Магазин одежды</p>
                            <h4>-20%</h4>
                        </div>
                    </div>
                </ks-swiper-slide>
            </ks-swiper-container>
        </div>




    </div>
</div>
<div class="container main-page-promos">
    <div class="row">
        <div class="col-md-6">

            <div class="main-page-promo">

                <img src="/images/7.jpg">

                <div class="promo-descr">

                    <h1><a href="/">Полет на воздушном шаре со скидкой 20%</a></h1>

                    <p><a class="promo-btn" href="/">Подробнее</a></p>

                </div>

                <div class="offer-price">
                    <p>-20%</p>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="main-page-promo">

                <img src="/images/8.jpg">

                <div class="promo-descr">

                    <h1><a href="/">Торты по индивидуальному заказу со скидкой 10%</a></h1>

                    <p><a class="promo-btn" href="/">Подробнее</a></p>

                </div>

                <div class="offer-price">
                    <p>-10%</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Фильтр</h4>
        </div>
    </div>
</div>
<div class="container-fluid all-offers">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offer-single-item" ng-repeat="offer in offers | orderBy: 'likes' : -1" ng-show="offer.public">
                <div class="single-offer">
                    <a href="/"><img class="img-responsive rounded" ng-src="{{offer.offer_url}}"></a>
                    <div class="offer-price">
                        <p>{{offer.discount}}</p>
                    </div>
                    <div class="offer-top">
                        <img src="/images/flame.svg">
                    </div>
                    <div class="offer-type">
                        <a href="/">Купоны</a>
                        <a href="/">Еда</a>
                    </div>
                    <div class="offer-descr">
                        <div class="offer-title">
                            <h4><a href="#!/{{offer.client_url}}/{{offer._id}}">{{offer.title}}</a></h4>
                        </div>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="client-name">
                                        <a href="#!/{{offer.client_url}}">{{offer.client}}</a>
                                    </td>
                                    <td class="expires">
                                        <p>до {{offer.expires | amDateFormat:'DD MMMM HH:mm'}} </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="likes"><img ng-click="sendLike(offer.id)" src="/images/heart-inv.svg">  {{offer.likes}} </td>
                                    <td class="about-btn"><a href="#!/{{offer.client_url}}/{{offer._id}}">Подробнее</a></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
