<div class="container-fluid bottom-nav">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ">
                <div class="categories">
                    <a href="/">
                        <p>Разместить акцию</p>
                    </a>
                    <a href="/">
                        <p>Сотрудничество</p>
                    </a>
                    <a href="/">
                        <p>Блог</p>
                    </a>
                </div>
            </div>
            <div class="col-md-4 login">
                <a href="/">
                    <img src="/images/login.svg">
                    <p>Войти</p>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container futured">
    <div class="row">
        <div ng-repeat="n in [42, 42, 43, 43] track by $index" class="col-md-3">
            <div class="futured-item">
                <div class="media-wrap">
                    <img src="http://placehold.it/162x100">
                </div>
                <div class="futured-descr">
                    <h3>Куриные окорочка</h3>
                    <p>Провиант</p>
                    <h4>-20%</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Фильтр</h4>
        </div>
    </div>
</div>
<div class="container-fluid all-offers">
    <div class="container">
        <div class="row">
            <div class="col-md-4" ng-repeat="offer in offers" ng-show="offer.public" class="offer-single-item">
                <div class="single-offer">
                    <img class="img-responsive rounded" src="http://placehold.it/486x300">
                    <h4 class="media-heading">{{offer.title}}</h4>
                    <p>{{offer.description}}</p>
                    <p>{{offer.client}}</p>
                    <p>{{offer.expires | date:'dd.MM'}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
